
.container {
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  border-radius: 5px;
}
.title{
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  width: 100%;
  
}
li{
  list-style:none
}

.node{
  margin: 5px 13px;
 color:#80BD01;
 padding: 3px;
 
}
.node:hover{
  color: black;
}
.node_sel{
  margin: 5px 13px;
  padding: 3px;
  color: white;
background-color: #80BD01;
 border-radius: 10%;
}
.left{
  width: 70%;
 
  background-color: white;
  margin-left: 4%;
  margin-top: 1%;
}
.right{
  width: 20%;

  margin-left: 1%;
  margin-top: 1%;
}
.login{
  background-color: white;
  height: 130px;
  width: 290px;
}
.text{
  width: 90%;
  height: 90%;
  margin-left: 8px;
  margin-bottom: 10px;
}
.head{
  height: 50px;
  display: flex;
  width: 100%;
 
  align-items: center;
}
.text>button{
  border-radius: 5%;
  background-color: #5BC0DE;
  color: white;
  border: 0px;
  width: 150px;
  height: 34px;
}
.content{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px 10px;
  width: 100%;
 height: 60px;
 align-items: center;
 border: 1px solid #F5F5F5;
 font-size: medium;
}
.content:hover{
  background-color: #F5F5F5;
}
a:link{
  color: black;
}
.tit:visited{
  color: #E1E1E1;
}
.tit:hover{
    text-decoration: underline;
}

.nobody{
  background-color: white;
 
  width: 290px;
  margin-top: 15px;
  padding-bottom: 20px;
}
.nobody>div{
  background-color: #F6F6F6;
  height: 40px;
  padding: 10px;
 
}
.nobody>a{
  color: #474747;
  height: 30px;
  padding: 10px;
  display: block;
   font-size: 13px;
}
.last_reply{
   margin-left: auto;
  
 left: 30px;
  font-size: smaller;
  color: #444444;
}
.login_a:hover{
  text-decoration: underline;
}
.but:hover{
  background-color: #2F96B4;
}
.main{
  width: 100%;
}
.avat{
  width: 30px;
  height: 30px;
}
.reply{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 7%;
  height: 100%;
  align-items: center;
}
.reco{
  color: #9E78C0;
  font-size: medium;
}
.vis{
  color: #C3B4B4;
  font-size: small;
}
.top{
  margin:10px 5px;
  padding: 1px 3px;
  color: white;
 background-color: #80BD01;
 border-radius: 10%;
  font-size: 5px;
}
.other{
  margin: 10px 5px;
  font-size: smaller;
  padding: 1px 3px;
  color: #C7AE99;
 background-color: #E1E1E1;
 border-radius: 5px;
}
.pagesel{
  display: inline-block;
  
   display: flex;
   flex-direction: row;
   align-items: center;
}
.page{
  margin: 10px;
}
.scan_main
{
  background-color: white;
  width: 290px;
  margin-top: 15px;
  padding-bottom: 20px;
  
}
.scan_tit{
   width: 290px;
   height: 40px;
   background-color: #F6F6F6;
   padding: 10px;
}
.scan{
  width: 290px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pagesel>button{
   border: 1px solid #E1E1E1;
   background-color: white;
   width: 30px;
   height: 33px;
  display: block;
}
.button_sel{
  border: 1px solid #E1E1E1;
  background-color: white;
  color: #80BD01;
  width: 50px;
  height: 33px;
 display: block;
}
.pagesel>button:hover{
 
  background-color: #F5F5F5;
 
}
.but_left{
  border-radius: 5px 0px 0px 5px;
}
.but_right{
  border-radius: 0px 5px 5px 0px;
}